---
import type { RichTextBlock } from '@/lib/types';
import { Section, SectionProse } from '@/components/ui/section';
import { PortableText } from 'astro-portabletext';
import { portableTextComponents } from '@/components/portable-text';

interface Props extends RichTextBlock {
  class?: string;
  id?: string;
}

const { content } = Astro.props;
---

<Section data-animate>
  <SectionProse>
    {content && <PortableText value={content} components={portableTextComponents} />}
  </SectionProse>
</Section>
