---
import type { RichTextBlock } from '@/lib/types';
import { Section, SectionProse } from '@/components/ui/section';
import { PortableText } from 'astro-portabletext';

interface Props extends RichTextBlock {
  class?: string;
  id?: string;
}

const { content } = Astro.props;
---

<Section data-animate>
  <SectionProse>
    {content && <PortableText value={content} />}
  </SectionProse>
</Section>
