---
import type { ComponentProps } from "astro/types"
import { Icon } from "@/components/ui/icon"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"

interface Props extends ComponentProps<typeof Button> {}

const { class: className, ...props } = Astro.props
---

<Button
  class={cn("ml-auto", className)}
  size="icon-sm"
  variant="ghost"
  data-slot="sheet-close"
  {...props}
>
  <Icon name="lucide:x" class="size-4" />
</Button>
