---
import type { Props as PTProps } from 'astro-portabletext/types';
import VideoEmbed from '@/components/VideoEmbed.astro';
import { stegaClean } from '@sanity/client/stega';

interface VideoEmbedNode {
  _type: 'videoEmbed';
  videoUrl?: string;
  title?: string;
  caption?: string;
}

type Props = PTProps<VideoEmbedNode>;

const { node } = Astro.props;
const videoUrl = stegaClean(node.videoUrl ?? '');
---

<div class="my-6">
  {videoUrl && <VideoEmbed url={videoUrl} title={node.title ?? undefined} />}
</div>
